/* copy this file and save as your_channel.js and call like:
node FUELBot.js configFile=your_channel
*/

module.exports.config = {
	"channelName": "#my_room",//channel to join on connect
	"nick": "Roberto",//what to call yourself
	"password": "IAMAPASSFRAZ3",//password for both channel and interacting with bot
	EXTERNALBotNames: ["GitHubBot"],//names of external bots that might interact with channel
	FUELBotNames: ["Roberto", "Roberto1", "Roberto2"],//names of all (this and other) instances of this bot that might interact with this bot
	privateChannel: true,//whether the channel is private
	mode: '+pst-n',//the different modes that should be set for the channel
	canSpeak: true,//whether the bot has the ability to speak
	askForOp: false//whether the bot should seek op
};

